<div id="page-content">
<div class="container" id="home-container" >

        <div class="mt-4 p-5 bg-secondary text-white rounded text-center" style="background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');  background-position: center center; background-repeat: no-repeat;  background-size: cover; height: 400px;">
            <br>
            <br>
            <h1>Alpha blog</h1>
            <h2 style='color:black'>Welcome to the Home Page</h2>

            <button type="button" class="btn btn-success">Sign up!</button>
            
            <%= link_to 'About page', about_path %>
        </div>
    </div>
</div>